NODE_ENV=development
PORT=4004
HASURA_GRAPHQL_ENDPOINT=http://localhost:8085/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=losandijoncity!@$@
HASURA_GRAPHQL_HEADER_PREFIX=x-hasura-

JWT_ALGORITHM=HS256
JWT_PRIVATE_KEY=losandijoncity!@$@
JWT_TOKEN_EXPIRES=86400
