HASURA_ENABLE_CONSOLE=true
DB_DATABASE_URL=postgres://postgres:rajQjO6fk8gcLQ3EsAZeg34D@postgres:5432/uztelecom_auth
DB_DATABASE=uztelecom_auth
DB_USERNAME=postgres
DB_PASSWORD=rajQjO6fk8gcLQ3EsAZeg34D
HASURA_GRAPHQL_ADMIN_SECRET=losandijoncity!@$@
PORT=8085
STORAGE_PORT=7885
HASURA_GRAPHQL_MIGRATIONS_DIR=/migrations
HASURA_GRAPHQL_METADATA_DIR=/metadata
PGADMIN_DEFAULT_EMAIL=uztelecom@uztelecom.uz
PGADMIN_DEFAULT_PASSWORD=NX6I3XJHQlRYAsG8
PGADMIN_PORT=5050
COMPOSE_PROJECT_NAME=nodejs-authorization
HASURA_GRAPHQL_JWT_SECRET={"type":"HS256", "key": "9e519add75013cd5e159e9ee57475ea4db626c86dc51311a6e5b46ef1349530b"}
HASURA_GRAPHQL_ENDPOINT=http://localhost:8085/v1/graphql